@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@keyframes btnResetAnimation {
    from {color: yellow}
    to {color: lightcoral}
}

.navbarStyle {
    background-color: lightblue;
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px black;
}
.navbarTitle {
    color: yellow;
}
.score {
    font-size: 18px;
}
#btnInstructions, #btnReset {
    cursor: pointer;
    font-size: 18px;
}
#btnReset:hover {
    animation-name: btnResetAnimation;
    animation-duration: 1s;
    color: lightcoral;
    text-shadow: 4px 4px 4px black;
}
#btnReset:active {
    color: yellow;
}
#btnInstructions:hover {
    animation-name: btnResetAnimation;
    animation-duration: 1s;
    color: lightcoral;
    text-shadow: 4px 4px 4px black;
}
#btnInstructions:active {
    color: yellow;
}